#Donot commit temporary files
*~
*#
*~?
*~??
*/WEB-INF/lib/*.*
*/WEB-INF/classes/
*/WEB-INF/appengine-generated/*.*
#/seamoo-*/target/
#/seamoo-*/.classpath
#/seamoo-*/.project
#/seamoo-*/.settings/
#.metadata

