# Donot commit temporary files
*~
*#
*~?
*~??
# Donot commit backup files
*.bak
/*/war/WEB-INF/lib/
/*/war/WEB-INF/classes/
/*/war/WEB-INF/appengine-generated/
/*/bin/
seamoo-*/target/
.classpath
.project
.settings/
test-output/
.metadata/
*.gwt.rpc
# Do not commit log file
rails_openid/log/
# Do not commit db file
rails_openid/db/
