<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration threshold="off">
    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="debug"/>
        <appender-ref ref="stdout"/>
    </root>
    <!-- Log the actual Hibernate Query Language (HQL) expression -->
    <category name="org.hibernate.impl.SessionImpl">
        <priority value="DEBUG"/>
    </category>

	<!-- Log out everything from Dispatcher Servlet -->
    <category name="org.springframework.web.servlet.DispatcherServlet">
        <priority value="DEBUG"/>
    </category>

<!-- Log the substitution parameters in the HQL expression -->
    <category name="org.hibernate.engine.QueryParameters">
        <priority value="DEBUG"/>
    </category>
    <category name="org.hibernate.SQL">
        <priority value="TRACE"/>
    </category>

    <category name="org.hibernate.type">
        <priority value="TRACE"/>
    </category>
</log4j:configuration>