.option-box {
	float: left;
	width: 250px;
	border: solid 2px silver;
	margin: 5px;
}

.description-box {
	margin: 5px;
	padding: 5px;
	border: solid 1px silver;
}

.search-reset-btn {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(images/search-reset-btn.png) no-repeat center center;
}

.fw {
	width: 100%;
}

.hw {
	width: 50%;
}

.fl {
	float: left;
	margin: 5px;
}

.fr {
	float: right;
	margin: 5px;
}

.ib {
	display: inline-block;
}

.tar {
	text-align: right;
}

.tac {
	text-align: center;
}

table.fw td,table.fw th {
	padding: 5px;
}

table.grid td {
	border: solid 1px silver;
}

table.grid th {
	border: solid 1px silver;
}

td.logo-cell {
	width: 96px;
}

.user-gravatar64 {
	width: 64px;
	height: 64px;
}

.user-gravatar128 {
	width: 128px;
	height: 128px;
}

.user-about {
	background: silver;
}

.discussion-ignore-btn {
	display: block;
	width: 16px;
	height: 16px;
	background: url(images/discussion-ignore-btn.png) no-repeat center
		center;
}

.question-personal-info {
	padding-left: 30px;
	font-style: italic;
}

.question-date {
	width: 70px;
	white-space: nowrap;
	letter-spacing: -2px;
	background-color: #ccc;
}

.question-edit-btn {
	width: 16px;
	height: 16px;
	background: url(images/question-edit-btn.png) no-repeat center center;
}

.question-remove-btn {
	width: 16px;
	height: 16px;
	background: url(images/question-remove-btn.png) no-repeat center center;
}

.number-column {
	width: 30px;
}

.time-column,.date-column {
	width: 90px;
}

.seamoo {
	text-transform: uppercase;
	font-weight: bold;
}

.seamoo.sea {
	color: #008fe0;
}

.seamoo.moo {
	color: #ff9600;
}

.answer-correct {
	display: inline-block;
	background: url(images/answer-correct.png) no-repeat center center;
	width: 16px;
	height: 16px;
}

.answer-wrong {
	display: inline-block;
	background: url(images/answer-wrong.png) no-repeat center center;
	width: 16px;
	height: 16px;
}

.answer-ignore {
	display: inline-block;
	background: url(images/answer-ignore.png) no-repeat center center;
	width: 16px;
	height: 16px;
}

.answer-review-grade-column {
	width: 50px;
	text-align: center;
}

.match-review-answer-content {
	font-weight: bold;
}

.match-review-answer-time {
	background: #c0c0c0;
	font-style: italic;
}

.match-review-question-row-1 {
	
}

.match-review-question-row-2 {
	background: #eee;
}

.answer-flag-btn {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/answer-flag-btn.png) no-repeat center center;
}