<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:dao-context.xml
			classpath:cache-context.xml
			/WEB-INF/spring/context-config.xml
		</param-value>
	</context-param>

	<servlet>
		<servlet-name>gwtbridge</servlet-name>
		<servlet-class>org.workingonit.gwtbridge.GwtBridgeServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>gwtbridge</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>openid-filter</filter-name>
		<filter-class>org.seamoo.webapp.filters.OpenIdAuthenticationFilter</filter-class>
		<init-param>
			<param-name>forwardUri</param-name>
			<param-value>/users/login</param-value> <!-- login page when user is not authenticated-->
		</init-param>
		<init-param>
			<param-name>forwardUriHandler</param-name>
			<param-value>org.seamoo.webapp.filters.RedirectUriHandler</param-value>
		</init-param>
	</filter>

	<!--
		Put memberFilter first to avoid /user/login being a returnUrl of
		/users/first-seen
	-->
	<filter>
		<filter-name>memberFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>firstSeenUri</param-name>
			<param-value>/users/first-seen</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>memberFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>openid-filter</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<url-pattern>/users/login</url-pattern>
		<url-pattern>/users/first-seen</url-pattern>
		<url-pattern>/matches/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>


	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>appstats</filter-name>
		<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
		<init-param>
			<param-name>logMessage</param-name>
			<param-value>Appstats available: /appstats/details?time={ID}</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>appstats</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Declare Spring MVC DispatcherServlet -->
	<servlet>
		<servlet-name>spring-mvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/spring/servlet-config.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Route all of the rest to spring-mvc -->
	<servlet-mapping>
		<servlet-name>spring-mvc</servlet-name>
		<url-pattern>/app/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>freemarker</servlet-name>
		<servlet-class>org.seamoo.webapp.CustomizedFreemarkerServlet</servlet-class>

		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>NoCache</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>ContentType</param-name>
			<param-value>text/html; charset=utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>DefaultEncoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>freemarker</servlet-name>
		<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>appstats</servlet-name>
		<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>appstats</servlet-name>
		<url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>app/home</welcome-file>
	</welcome-file-list>
</web-app>